<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>URL Shortener - Database</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 24px;
      background-color: #725154;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .c {
      width: 90%;
      padding: 20px;
      background-color: #db8047;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    h1 {
      margin-bottom: 20px;
      font-size: 28px;
      color: white;
    }

    table {
      width: 100%;
      margin-top: 35px;
    }

    th, td {
      padding: 20px;
      border-bottom: 1px solid #6d99ad;
      word-wrap: break-word;
      max-width: 300px; /* Adjust the maximum width as needed */
      color: white;
    }

    th {
      background-color: #031a38;
      font-weight: bold;
    }

    .end {
      display: inline-block;
      padding: 10px 20px;
      background-color: #72add5;
      color: #4f79ec;
      
      transition: background-color 0.3s;
    }

    .end:hover {
      background-color: #1c5491;
    }

    
  </style>
</head>
<body>
  <div class="c">
    <h1>Database Of All Url</h1>
    <% if (data.length > 0) { %>
      <div >
      <table>
        <thead>
          <tr>
            <th >Full URL</th>
            <th>Note</th>
            <th>Short URL</th>
            <th>Clicks</th>
          </tr>
        </thead>
        <tbody>
          <% data.forEach((count) => { %>
            <tr>
              <td><a href="<%= count.fullurl %>"><%= count.fullurl %></a></td>
              <td><%= count.note %></td>
              <td><a href="/redirect/<%= count.shorturl %>"><%= count.shortlink %></a></td>
              <td><%= count.clicks %></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
    <% } else { %>
      <p>No data Available</p>
    <% } %>
    <br>
    <a href="/" class="end">Back to Home</a>
  </div>
</body>
</html>
